.navbar-brand img {width: 100px;}
#carouselExampleIndicators h1{
    margin-right: 5px;
}
.btnn{
    width: 20rem;
    height: 3rem;
}
#btngrp{
    width: 60rem;
    margin-top: 4rem;
}
.divider{
    width: 100%;
    height: 20rem;
}
.divider h2{
    margin-top: 2rem;
    color: bisque;
}
#teach{
    font-size: small;
    width: 30%;
}
#tryudemy{
    font-size: small;
}
#learnmore{
font-size: small;
}
#business{
    font-size: small;
    width: 30%;
}
.img-circle{
   border-radius: 50%;
}
#courses{
    width: 100%;
}
footer.main-footer {
    background: #0e0e0e;
    padding: 100px 0 0;
    color: #fff;
}
.container h6{
    font-size: 3rem;
    color: rgb(238, 183, 111);
}